.Navig {
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 9999;
}
.Navlogo {
  background-color: #e9bb17;
  padding: 4px 10px;
  border-radius: 10px;
  font-weight: 900;
  color: black !important;
}

.movieAdd {
  color: white;
}
