@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

.Navig {
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 9999;
  font-family: "Roboto", sans-serif;
}
.Navlogo {
  background-color: #e9bb17;
  padding: 3px 10px;
  border-radius: 10px;
  font-weight: 900;
  color: black !important;
  font-family: "Roboto", sans-serif;
}

.movieAdd {
  color: white;
}
