@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

.App {
  text-align: center;
}

.App-Title {
  padding-top: 20px;
  text-align: center;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #274b6d;
}
