@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
.SliderMain {
  max-height: 92.1vh;
  background-size: cover;
  overflow: hidden;
  padding: 0;
}

.SliderMain-Text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3.3rem;
}
